<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>to do</title>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <link href="/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>my todo</h1>
<div id="todo-table">
    <form>
        <input type="text" name="item" required title="item"/>
        <button type="submit">add item</button>
    </form>
    <ul>
        <% for(var i=0;i < todo.length;i++){ %>
        <li><%= todo[i].item%></li>
        <% } %>
    </ul>
</div>
<script src="/todo-list.js"></script>
</body>
</html>